<footer class="footer">
    <div class="law">
        <p>Copyright &copy; 2021 Confetti Cuisine. All Rights Reserved.</p>
    </div>
    <div class="share">
        <ul class="media">
            <li>
                <span>Share:</span>
            </li>
            <li>
                <a href="#">
                    <img src="../../public/icons/facebook.png" alt="facebook">
                </a>
            </li>
            <li>
                <a href="#">
                    <img src="../../public/icons/instagram.png" alt="instagram">
                </a>
            </li>
            <li>
                <a href="#">
                    <img src="../../public/icons/twitter.png" alt="twitter">
                </a>
            </li>
        </ul>
    </div>
</footer>