<div class="container main-content">
    <div class="col-sm-12">
        <div class="story-image text-center">
            <img class="rounded img-fluid" src="http://localhost:3000/images/ConfettiCuisineLogo.png" alt="Logo">
        </div>
    </div>
    <br>
    <div class="col-sm-10 mx-auto text-center">
        <h1>Our Story</h1>
        <br>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Omnis, accusantium vero. Sint nemo obcaecati culpa cupiditate veniam quae rem at iusto, saepe totam ut praesentium, non ipsam! Porro, odio! Illum. Lorem ipsum, dolor sit amet consectetur adipisicing elit. Laboriosam atque ea impedit? Atque enim beatae iure earum hic, ipsa commodi. Quisquam repellat fuga voluptatem, magnam dolor iusto ea necessitatibus labore? Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium ullam corporis esse. Excepturi autem deserunt eveniet cumque rerum magnam obcaecati maiores quas voluptas quam adipisci, non a aliquam recusandae nesciunt? Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quam tenetur iste commodi minus maiores suscipit nobis, et fugit vitae optio autem nam magnam officia nostrum, quis repellat? Maxime, earum maiores.</p>
        <br>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Omnis, accusantium vero. Sint nemo obcaecati culpa cupiditate veniam quae rem at iusto, saepe totam ut praesentium, non ipsam! Porro, odio! Illum. Lorem ipsum, dolor sit amet consectetur adipisicing elit. Laboriosam atque ea impedit? Atque enim beatae iure earum hic, ipsa commodi. Quisquam repellat fuga voluptatem, magnam dolor iusto ea necessitatibus labore? Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium ullam corporis esse. Excepturi autem deserunt eveniet cumque rerum magnam obcaecati maiores quas voluptas quam adipisci, non a aliquam recusandae nesciunt? Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quam tenetur iste commodi minus maiores suscipit nobis, et fugit vitae optio autem nam magnam officia nostrum, quis repellat? Maxime, earum maiores.</p>
        <br>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Omnis, accusantium vero. Sint nemo obcaecati culpa cupiditate veniam quae rem at iusto, saepe totam ut praesentium, non ipsam! Porro, odio! Illum. Lorem ipsum, dolor sit amet consectetur adipisicing elit. Laboriosam atque ea impedit? Atque enim beatae iure earum hic, ipsa commodi. Quisquam repellat fuga voluptatem, magnam dolor iusto ea necessitatibus labore? Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium ullam corporis esse. Excepturi autem deserunt eveniet cumque rerum magnam obcaecati maiores quas voluptas quam adipisci, non a aliquam recusandae nesciunt? Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quam tenetur iste commodi minus maiores suscipit nobis, et fugit vitae optio autem nam magnam officia nostrum, quis repellat? Maxime, earum maiores.</p>
        <br>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Omnis, accusantium vero. Sint nemo obcaecati culpa cupiditate veniam quae rem at iusto, saepe totam ut praesentium, non ipsam! Porro, odio! Illum. Lorem ipsum, dolor sit amet consectetur adipisicing elit. Laboriosam atque ea impedit? Atque enim beatae iure earum hic, ipsa commodi. Quisquam repellat fuga voluptatem, magnam dolor iusto ea necessitatibus labore? Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium ullam corporis esse. Excepturi autem deserunt eveniet cumque rerum magnam obcaecati maiores quas voluptas quam adipisci, non a aliquam recusandae nesciunt? Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quam tenetur iste commodi minus maiores suscipit nobis, et fugit vitae optio autem nam magnam officia nostrum, quis repellat? Maxime, earum maiores.</p>
    </div>

</div>