<div class="container">
    <div class="col-sm-6">
        <div class="image">
            <img src="" alt="">
        </div>
    </div>
    <div class="col-sm-6">
        <div class="error-message">
            <h1>Ooops! Something went wrong.</h1>
        </div>
    </div>
</div>