<div class="container main-content">
        <div class="col-sm-12">
            <div class="image text-center">
                <img class="rounded img-fluid" src="http://localhost:3000/images/concha.jpg" alt="concha">
            </div>
        </div>
        <br>
        <div class="col-sm-6 mx-auto">
            <h1>Welcome to Confetti Cuisine!</h1>
            <p>Please check out our course instructed by our creative chefs.</p>
            <p>Check out <a href="/courses">new courses.</a></p>
            <p><a href="./contact">Reach out</a> with questions.</p>
        </div>

</div>