<div class="container main-content">
  <div class="col-sm-8 m-auto">
    <div class="image img-fluid">
      <img
        src="http://localhost:3000/images/smiling-face.png"
        alt="thank you"
      />
    </div>
  </div>
  <div class="col-sm-10 text-center mx-auto">
    <div class="thank-you-message">
      <h1>Thank you!</h1>
      <p><%= msg %></p>
      <p>Go to <a href="/">home page.</a></p>
    </div>
  </div>
</div>
